body{
    color: #ffffff;
    background-color: #000000;
}
.card {
  background: #000000;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  color: #ffffff;
  border: 2px solid #ffffff;
}

.input-group {
  display: flex;
  gap: 10px;
  margin: 15px 0;
  flex-wrap: wrap;
}

input, select, textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #f8f8f8;
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
}

textarea {
  width: 100%;
  resize: none;
}

.cta-btn {
  background: #2EB3B0;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #26a09a;
}

.result {
  margin-top: 10px;
  font-weight: 600;
}

.result-list {
  margin-top: 10px;
  padding-left: 20px;
}
