/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body, #root {
  height: 100%;
  width: 100%;
}



.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#0f0f0f;
  /* background-image: url('https://media.istockphoto.com/photos/dark-blue-de-focused-blurred-motion-abstract-background-picture-id1323916906?k=20&m=1323916906&s=612x612&w=0&h=BlPFt3w9x5dgnKMHt-eslbGhlDt9jScQSr24NibiotU=');  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}


.splash-logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.splash-text {
  font-size: 1.5rem;
  font-weight: 500;
  animation: fadeIn 1.2s ease-in-out;
}

.continue-button {
  margin-top: 40px;
  padding: 10px 40px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid whitesmoke ;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/* Simple fade animation */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to   { opacity: 1; transform: scale(1); }
}

/* Responsive Design */
@media (max-width: 768px) {
  .splash-logo {
    width: 150px;
  }

  .splash-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .splash-logo {
    width: 120px;
  }

  .splash-text {
    font-size: 1rem;
  }
}



/* Custom Popup */
.my-popup {
  background: #1A1A1A;
  border-radius: 12px;
  
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 20px;
   box-shadow: 0 0 20px rgba(250, 250, 250, 0.6);
}

/* Title */
.my-title {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: center;
}

/* Inputs */
.my-input {
  width: 90%;
  padding: 10px;
  margin: 8px auto;
  display: block;
  border-radius: 6px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  outline: none;
  font-size: 14px;
}

/* Placeholder styling */
.my-input::placeholder {
  color: #cccccc;
}

/* Confirm Button */
.my-confirm {
  background-color: #000000 !important;
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
  border-radius: 6px !important;
  padding: 10px 20px !important;
  font-weight: bold !important;
  transition: all 0.3s ease;
}

/* Hover effect */
.my-confirm:hover {
  background-color: #2454e3 !important;
  border-color: #4caf50 !important;
  color: #ffffff !important;
}

/* Cancel Button */
.my-cancel {
  background-color: #000000 !important;
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
  border-radius: 6px !important;
  padding: 10px 20px !important;
  font-weight: bold !important;
  transition: all 0.3s ease;
}

/* Hover effect */
.my-cancel:hover {
  background-color: #e74c3c !important;
  border-color: #e74c3c !important;
  color: #ffffff !important;
}

.my-textarea {
  width: 90%;
  padding: 10px;
  margin: 8px 8px;
  border-radius: 6px;
  border: 1px solid #ffffff;
  outline: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  min-height: 100px;
  resize: none;
  background: transparent;
  color: white;
}


/* Style SweetAlert validation message */
.swal2-validation-message {
  color: #4650e0;        /* Red warning */
  font-size: 14px;
  background-color: #1A1A1A;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-top: 8px;
}
